<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Familia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
  
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <nav class="navbar" style="background-color: #e3f2fd;">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="../../">Inicio</a>
              <a class="nav-link active" aria-current="page" href="../../familia/listar-familia/">Listar Familia</a>
            </div>
          </div>
        </nav>
        </div>
      </nav>

      <h1 style="text-align:center;" >SE CREÓ LA FAMILIA</h1>
      <div class="card" style=" margin: 20px 510px 20px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCqc8rBs_fTu2KNQMSepEsGkMldl4qH6jG7g&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              <p style="text-align:center">La Familia esta conformada por 4 Integrantes</p>
            </p>
          </div>
      </div>
</body>
</html>